@font-face {
    font-family: poppins_regular;
    src: url('./Assets/Fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: poppins_medium;
    src: url('./Assets/Fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: poppins_semibold;
    src: url('./Assets/Fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: poppins_bold;
    src: url('./Assets/Fonts/Poppins-Bold.ttf');
}


*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

*::-webkit-scrollbar {
    width: 3px;
    height: 5px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}

.spinner{
    position: absolute;
    left: 50%;
    right: 50%;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 99999;
  }

  .MuiDataGrid-cellContent{
    font-family: 'poppins_medium';
    font-size: 14px;
  }

  .css-1jbbcbn-MuiDataGrid-columnHeaderTitle {
    font-family: 'poppins_medium';
    font-size: 15px;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root{
    font-family: "poppins_bold" !important;
    font-size: 12px !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
    font-size: 14px !important;
}